*{
  padding: 0;
  margin: 0;
}

.ImgCart{
  padding-top: 5px;
  width: 40px;
  height: 27px;
}

.Logo{
  font-size: xx-large;
  text-decoration: none;
  color: #F0EAD2;
}

a{
  text-decoration: none;
  color: #F0EAD2;
}

.NavCentro, .NavDerecho{
  display: flex;
  align-items: center;
}

.MenuCart{
  font-size: large;
  color: #F0EAD2;
  text-decoration: none;
  padding-right: 10px;
}

h2{
  font-size: large;
  color: #F0EAD2;
  text-decoration: none;
  padding-right: 30px;
}

.Fondo{
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
  background-color: #A98467;
  height: 50px;
}

img{
  width: 100%;
  background-color: #DDE5B6;
}

.FlexItems{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.FondoItem{
  border: 1px solid black;
  margin: 0 50px;
  margin-bottom: 30px;
  width: 500px;
  background-color: #A98467;
}

.TituloItem{
  font-size: larger;
  text-align: center;
  color: #ADC178;
}

.FlexProduct{
  margin-top: 10px;
}

.itemDescrip{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgUtily{
  width: 20px;
  height: 17px;
}

p{
  font-size: large;
  color: #F0EAD2;
}

.botones{
  display: flex;
  justify-content: center;
  padding: 5px 10px;
}

.boton{
  height: 30px;
  width: 80px;
  margin: 0 15px;
  border-radius: 5px;
  border: #DDE5B6;
}

.itemDetailBg{
  margin: 20px 130px;
}

.itemDetailImg{
  width: 500px;
  margin-right: 50px;
}

.itemDetailFlex{
  display: flex;
  background-color: #A98467;
}

.itemDetailFont{
  font-size: x-large;
  padding-top: 10px;
  padding-bottom: 50px;
  color: #ADC178;
}

.itemDetailButon{
  display: flex;
  align-items: flex-end;
}