*{
  padding: 0;
  margin: 0;
}

.fondo{
  background-color: #A98467;
  height: 60px;
}

.titulo{
  display: flex;
  padding: 5px 50px;
  font-size: medium;
  color: #F0EAD2;
}

.secciones{
  display: inline-flex;
  margin-left: 460px;
}

a{
  padding-top: 5px;
  padding-right: 40px;
  color: #DDE5B6;
  text-decoration: underline;
  font-size: x-large;
}